.App {
  text-align: center;
  font-family: 'Comic Sans MS', 'Comis Sans', sans-serif;
}

.App-header {
  background-color: #3e314d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2 {
  margin: 0;
  padding: 0;
}

form {
  margin: 10px;
}

form input[type="email"] {
  height: 25px;
  font-family: 'Comic Sans MS', 'Comis Sans', sans-serif;
  padding: 5px;
}

button {
  background-color: #ffeaa7; /* pastel yellow */
  border-radius: 5px; /* slightly rounded */
  padding: 8px 16px; /* slightly padded */
  font-family: 'Comic Sans MS', 'Comis Sans', sans-serif;
}

button:hover {
  background-color: #edc361; /* darker yellow on hover */
  cursor: pointer;
}

.curEmail {
  font-size:calc(7px + 2vmin);
  padding:0px;
  margin:0px;
}

.curURL {
  max-width:450px;
}