.App {
  text-align: center;
  font-family: 'Comic Sans MS', 'Comis Sans', sans-serif;
}

.App-header {
  background-color: #3e314d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  background-color: #ffeaa7; /* pastel yellow */
  border-radius: 5px; /* slightly rounded */
  padding: 8px 16px; /* slightly padded */
  font-family: 'Comic Sans MS', 'Comis Sans', sans-serif;
}

button:hover {
  background-color: #edc361; /* darker yellow on hover */
  cursor: pointer;
}